@import "reset";
@import "fonts";

.home-back {
  position: absolute;
  background-image: url(../img-optim/slc.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

html {
  height: 100%;
}

.arrow-link {
  color: #333;
  text-decoration: none;
}

.arrow-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  opacity: .6;
  text-align: center;
  &:hover {
    opacity: 1;
  }
}

.arrow-inner {
  position: relative;
  left: -50%;
}

.arrow-title {
  background-color: #bbb;
  padding: 4px;
  border-radius: 5px;
  color: #fafafa;
}

body {
  font-family: 'Oxygen', 'sans-serif';
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.home-h {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.home-img {
  display: block;
}

.arrow-back {
  color: #bbb;
}