@import "reset";
@import "fonts";
@import "gallery";

.home-back {
  position: absolute;
  background-image: url(../img-optim/slc.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.js-transition {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
}

#content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
  &.js-right {
    left: -100%;
  }
  &.js-left {
    left: 100%;
  }
  &.js-down {
    margin-bottom: 100%;
  }
  &.js-up {
    margin-top: 100%;
  }
}

#transition-down.off {
  margin-top: 100%;
}
#transition-up.off {
  margin-bottom: 100%;
}
#transition-right.off {
  left: 100%;
}
#transition-left.off {
  left: -100%;
}

html {
  height: 100%;
}

.arrow-link {
  color: #333;
  text-decoration: none;
}

.arrow-title {
  background-color: #bbb;
  padding: 4px;
  border-radius: 5px;
  color: #fafafa;
}

body {
  font-family: 'Oxygen', 'sans-serif';
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #929FD3;
}

.home-h {
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.home-img {
  display: block;
}

.arrow-back {
  color: #bbb;
}

.arrow-container {
  position: absolute;
  opacity: .6;
  text-align: center;
  &:hover {
    opacity: 1;
  }
}

%adjust-postion-arrow {
  .arrow-inner {
    position: relative;
    left: -50%;
  }
}

.arrow-container-up {
  @extend %adjust-postion-arrow;
  top: 10px;
  left: 50%;
}

.arrow-container-down {
  @extend %adjust-postion-arrow;
  bottom: 10px;
  left: 50%;
}

.arrow-container-left {
  top: 50%;
  left: 10px;
}

.arrow-container-right {
  top: 50%;
  right: 10px;
}